// - -------------------------------------------------------------------- - //

.button-primary() {
  color: white;
  text-shadow: @text-shadow-primary;
  background-color: @color-primary;
  .box-shadow(@shadow-primary);
}

.button-green() {
  color: white;
  text-shadow: @text-shadow-green;
  background-color: @color-green;
  .box-shadow(@shadow-green);
}

.button-orange() {
  color: white;
  text-shadow: @text-shadow-orange;
  background-color: @color-orange;
  .box-shadow(@shadow-orange);
}

.button-blue() {
  color: white;
  text-shadow: @text-shadow-blue;
  background-color: @color-blue;
  .box-shadow(@shadow-blue);
}

.button-yellow() {
  color: white;
  text-shadow: @text-shadow-yellow;
  background-color: @color-yellow;
  .box-shadow(@shadow-yellow);
}

.button-red() {
  color: white;
  text-shadow: @text-shadow-red;
  background-color: @color-red;
  .box-shadow(@shadow-red);
}

.button-cyan() {
  color: white;
  text-shadow: @text-shadow-cyan;
  background-color: @color-cyan;
  .box-shadow(@shadow-cyan);
}

// - -------------------------------------------------------------------- - //
