.formset {

  .file-field {
  
    .file-field-content {
      display: inline-block;
      width: 100%;
      border: none;
      background-color: @color-grey-light;
      cursor: pointer;
      text-shadow: @text-shadow-grey-light;
      .font();
      .rounded(@border-radius);
      .box-shadow(@shadow-grey-light);
    }
    
    .file-field-input,
    .file-field-file {
      position: relative;
      padding: @spacing (@spacing*2);
      color: inherit;
      text-align: left;
      .ellipsis();

      .icon {
        margin-right: @spacing;
      }
    }
  
    .file-field-input {
      
      input[type=file] {
        .opacity(0);
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        cursor: pointer;
      }
    }
    
    .file-field-file {
      border-top: 1px solid @color-grey-lighter;
      padding-right: 10 + (@spacing*3);
      
      .fa-trash-o {
        margin: 0;
        position: absolute;
        right: (@spacing*2);
        cursor: pointer;
      }
    }
  }
}
